.features {
  // background-color: $color-grey-light-2;
  grid-column: center-start / center-end;

  margin: 15rem 0;

  display: grid;
  // grid-template-rows: 1fr 1fr; // we do not need to create this. We can just create an implicit grid.
  // grid-template-columns: 1fr 1fr 1fr; // tbellow is the screen size friendly
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: flex-start; // the default position is stretch so the feature boxes inside have the same sizes with the 1st row and 2nd row expanding to occupy the remaining space.
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  // the rows will be filled with implicit grids.

  grid-gap: 1.5rem 2.5rem;

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    // grid-row: 1/-1; // this wont work because the -1 extends till the end of the grid (explicit grid only) and does not include the grid aswell.
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}
