.u-center-text {
  text-align: center !important;
  // this will work for hte heading-secondary because we set the display as inline-block. So we can treat the heading-secondary as text.
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tabPort) {
    margin-top: 5rem !important;
  }
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tabPort) {
    margin-top: 2rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}
