.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.1;

  overflow: hidden;

  /*
  Notes:: this was the stack overflow solution to containing the width of the video section. 
  background-size: cover;
  overflow: hidden;
  */

  &__content {
    // background-size: auto;
    // overflow: hidden;
    // display: inline-block;
    // margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover; // object fit is like background-size but work on HTML elements. it need the height and width defined to be useful. It will also work with images
  }
}
